@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&family=Roboto:ital@0;1&display=swap');
*{
    padding:0;
    margin:0;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:20px
}

h1, p, a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color:aliceblue;
    
}

body{
    background-color: red;
}

header{
    background-color: blueviolet;
    padding:80px;
}

h1{
    color:black;
    padding:40px;
    text-align: center;
    margin:80px 40px 80px 40px;
    border:20px solid black;
}

p{
    color:black;
    padding:40px;
    margin-right: 400px;
    margin-top: 60px;
    margin-left: 60px;
    border:10px solid blueviolet;
}

.shaki{
    margin-top:80px ;
    margin-left: 200px;
    border:10px double blueviolet;
    border-radius: 10% ;
}

footer{
    padding: 80px;
    margin-top: 200px;
    background-color: blueviolet;
}



